/* ESTRUCTURA GENERAL */
body { 
	font-family: Arial, Sans-serif;
	background-color: #EDEDED;
}

h1 {
	text-align: center; 
	font-family: Verdana, Sans-serif;
}

a {
        text-decoration: none;
        color: green;
}

div.cabecera {
	max-width: 1024px;
	text-align: left;
	margin-left:auto;
	margin-right:auto;
	padding: 2%;
}

div.cuerpo {
	max-width: 1280px;
	text-align: left;
	margin-left:auto;
	margin-right:auto;
}

div.centro {
        text-align: center;
}

/* TABLAS */

table {
    width:100%; 
	border: 2px solid black;
    border-collapse:collapse;
}
th, td {
    width: 50%;
	padding: 15px;
	text-align:left;
	vertical-align: top;
	padding: 1%;
}

/* OTROS */
div.indice {
	text-align: left;
	line-height: 25px;
        margin-left:-10px;	
}
			
div.cartoteca {
	text-align: center;
	padding: 2%;
        
		
}

div.par {
	text-align: center;
	padding: 1%;
	margin-left:20px;
	margin-right:20px;
}

/* ICONOS SOCIALES */
div.social{
	text-align:right;
}

.fa {
  padding: 15px;
  font-size: 25px;
  width: 50px;
  height: 50px;
  text-align: center;
  text-decoration: none;
}

.fa:hover {
  opacity: 0.7;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-github {
  background: #000000;
  color: white;
}

/* COLUMNAS */
div.polaroid {
  width: 100%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;  
}

div.container {
  text-align: center;
  padding: 5px 20px;
  color: black;
}

* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 33.33%;
  padding: 1%;
  
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .column {
	width: 100%;
  }
}

