/* COLUMNAS */

div.cartoteca {
	max-width: 1240px;
	text-align: center;
	margin-left:auto;
	margin-right:auto;
	padding: 2%;		
}

div.polaroid {
  width: 100%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 20px;
  margin-bottom: 25px;  
}

div.polaroid > img{
  border-radius: 20px 20px 0px 0px;
}

div.container {
  text-align: center;
  padding: 5px 20px;
  color: black;
}

* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 33%;
  padding: 0% 1% 0% 1%;
}


.row:after {
  content: "";
  display: table;
  clear: both;
}


@media screen and (max-width: 600px) {
  .column {
	width: 100%;
  }
}