div.home {
	max-width: 1240px;
	text-align: center;
	margin-left:auto;
	margin-right:auto;
	
}


div.mifoto {
	text-align: center;
}

div.mifoto > img {
	border-radius: 100px;
	height: 200px;
	width: 200px;
}

img {
    border-radius: 5px;
}


/* BARRA NAVEGACION */

div.navbar {
  
  max-width: 100%;
	text-align: center;
	margin-left:auto;
	margin-right:auto;
  padding-bottom: 30px;
  
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #ffffff;
  
  
}

li {
  float: left;
  padding-right: 5px;
}

li a {
  display: block;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 8px 8px;
  text-decoration:none;
  border-radius: 5px;
}

li a:hover:not(.active) {
  background-color: rgb(222, 222, 222);
  color:#000000;
}

.active {
  background-color: #4f4f4f;
  color:#ffffff;
 
}


@media only screen and (max-width: 600px) {
  div.navbar {
    display: none;
  }
}



div.spacer {

    width:100%;
    height:30px;

}


div.navbar2 {

	position:fixed;
  top: 5px;
  right: 5px;
  z-index: 10;
}

.container {
  width: 100%;
  display: block;
  cursor: pointer;
  
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
  
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

@media only screen and (min-width: 600px) {
  div.navbar2 {
    display: none;
  }

  div.spacer {
    display: none;
  }

}


/* DESTACADO */

.contenedor{
    position: relative;
    display: inline-block;
    text-align: center;
	padding: 0px 0px 20px 0px;
	
}

.contenedor img {
    filter: brightness(0.8);
}
 

.centrado{
    position: absolute;
    top: 50%;
    transform: translate(12.5%, -50%);
    color: white;
    text-shadow:5px 5px 5px #000000;
    width: 280px;
    height: 150px;
}

/* CAJAS */

div.cartoteca {
	max-width: 1240px;
	text-align: center;
	margin-left:auto;
	margin-right:auto;
	padding: 2% 5%;		
}

div.polaroid {
  width: 100%;
  height: 350px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  margin-bottom: 25px;  
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
}



div.polaroid > img{
  border-radius: 10px 10px 0px 0px;
}

div.container {
  text-align: center;
  padding: 5px 20px;
  color: black;
}

* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 33%;
  padding: 0% 1% 0% 1%;
}


.row:after {
  content: "";
  display: table;
  clear: both;
}


@media screen and (max-width: 800px) {
  .column {
	width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .column {
	width: 100%;
  }
}

/* Bob */

@-webkit-keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@-webkit-keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}



div.polaroid:hover, adiv.polaroid:focus, div.polaroid:active {
  -webkit-animation-name: hvr-bob-float, hvr-bob;
  animation-name: hvr-bob-float, hvr-bob;
  -webkit-animation-duration: .3s, 1.5s;
  animation-duration: .3s, 1.5s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}