


/* CAJAS */



/* div.cartoteca {
	max-width: 1240px;
	text-align: center;
	margin-left:auto;
	margin-right:auto;
	padding: 0px 5%;		
  
} */


div.cartoteca {
  overflow-y: auto;
  padding: 2%;
}


div.polaroid {
  width: 100%;
  height: 330px;
  background-color: white;
  box-shadow: 1px 2px 4px 2px rgb(0 0 0 / 20%), 0 5px 5px 0 rgb(0 0 0 / 19%);
  border-radius: 5px;
  margin-bottom: 25px;  
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
}



div.polaroid > img{
  border-radius: 5px 5px 0px 0px;
}

div.container {
  text-align: center;
  padding: 5px 20px;
  color: black;
  
}

div.container h2 {
  font-size: 1.45em;
  margin: 0.2em;
}

* {
  box-sizing: border-box;
  
}

.column {
  float: left;
  width: 33%;
  padding: 0% 1% 0% 1%;
}


.row:after {
  content: "";
  display: table;
  clear: both;
}


@media screen and (max-width: 800px) {
  .column {
	width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .column {
	width: 100%;
  }
}

/* Bob */

@-webkit-keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }

  
}
@keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@-webkit-keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}



div.polaroid:hover, adiv.polaroid:focus, div.polaroid:active {
  -webkit-animation-name: hvr-bob-float, hvr-bob;
  animation-name: hvr-bob-float, hvr-bob;
  -webkit-animation-duration: .3s, 1.5s;
  animation-duration: .3s, 1.5s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}
