/* ICONOS SOCIALES */

div.social{
	text-align:right;
}

.fa {
  
  width: 40px;
  height: 40px;
  text-align: center;
  text-decoration: none;
}


.fa:hover {
  opacity: 0.7;
}

.fa-twitter {
  color: #55ACEE;
  font-size: 30px;
}

.fa-linkedin {
  color: #007bb5;
  font-size: 30px;
}

.fa-github {
  color: black;
  font-size: 30px;
}

.fa-info {
  color: grey;
  font-size: 20px;
  
}



