/* ESTRUCTURA GENERAL */

body { 
	background-color: #ffffff;
	font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1, h2 {
	text-align: center; 
	font-family: Verdana, Sans-serif;
}

a {
        color: #081bcc;
		text-decoration:none;
}

pre {
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  white-space: pre;
  margin: 1%;
  background-color: #ECEACA;
  padding: 1%;
  overflow-x:scroll;
} 

div.about {
	max-width: 600px;
	text-align: center;
	margin-left:auto;
	margin-right:auto;
    padding: 0% 5%;
}



div.cabecera {
	max-width: 100%;
	text-align: left;
	margin-left:auto;
	margin-right:auto;
	
	
}


div.cuerpo {
	max-width: 1024px;
	text-align: left;
	margin-left:auto;
	margin-right:auto;
	padding: 0% 2%;
}

div.cuerpo > img{
	display: block;
 	max-width: 100%;
	height: auto;
 	margin-left: auto;
 	margin-right: auto;	
}



div.centro {
        text-align: center;
}




/* TABLAS */

table {
    width:100%; 
	border: 2px solid black;
   	border-collapse:collapse;
}
th, td {
	border: 1px solid black;
  	width: 50%;
	text-align:left;
	vertical-align: top;
	padding: 1%;
}


div.mifoto {
	text-align: center;
  
}

div.mifoto > img {
	border-radius: 100px;
	height: 200px;
	width: 200px;
}

img {
    border-radius: 5px;
}

/* OTROS */
div.indice {
	max-width: 1024px;
	box-align: center;
	text-align: left;
	line-height: 25px;
    margin-left:-10px;	
}



div.par {
	text-align: center;
	padding: 1%;
	margin-left:20px;
	margin-right:20px;
}

/* -------------  NAVEGACIÓN ------------- */
/* MOBILE MENU    */

.overlay {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 10;
	top: 0;
	left: 0;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0, 0.9);
	overflow-x: hidden;
	transition: 0.5s;
  }
  
  .overlay-content {
	position: relative;
	top: 25%;
	width: 100%;
	text-align: center;
	margin-top: 30px;
  }
  
  .overlay a {
	padding: 8px;
	text-decoration: none;
	font-size: 36px;
	color: #818181;
	display: block;
	transition: 0.3s;
  }
  
  .overlay a:hover, .overlay a:focus, a.active2 {
	color: #ffffff;
  }
  
  .overlay .closebtn {
	position: absolute;
	top: 20px;
	right: 45px;
	font-size: 60px;
  }

  
  
  @media screen and (max-height: 450px) {
	.overlay a {font-size: 20px}
	.overlay .closebtn {
	font-size: 40px;
	top: 15px;
	right: 35px;
	}
  }


  /* BARRA NAVEGACION PC */

div.navbar {
  
	max-width: 100%;
	  text-align: center;
	  margin-left:auto;
	  margin-right:auto;
	padding-bottom: 10px;
	
	
  }
  
  .navbar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #ffffff;
	
	
  }
  
  .navbar li {
	float: left;
	padding-right: 5px;
	
  }
  
  .navbar a {
	display: block;
	text-align: center;
	padding: 8px 8px;
	text-decoration:none;
	border-radius: 5px;
	color:#333;
  }


  
  li a:hover:not(.active) {
	background-color: rgb(222, 222, 222);
	
  }
  
  .active {
	background-color: #4f4f4f;
	color:#ffffff !important;
	font-size: larger;
  }
  
  
  @media only screen and (max-width: 600px) {
	div.navbar {
	  display: none;
	}
  }
  
  
  
  div.spacer {
	width: 100%;
	height: 40px;
  
  }
  
  
  
  
  div.navbar2 {
  
	  position:fixed;
	top: 5px;
	right: 5px;
	z-index: 10;
  }
  
  .container {
	width: 100%;
	display: block;
	cursor: pointer;
	
  }
  
  .bar1, .bar2, .bar3 {
	width: 35px;
	height: 5px;
	background-color: #333;
	margin: 6px 0;
	
  }
  
  
  @media only screen and (min-width: 600px) {
	div.navbar2 {
	  display: none;
	}
  
	div.navbar3 {
	  display: none;
	  
	}
  
	div.spacer {
	  display: none;
	  
	}
	
  
  }
  
  
  /* BARRA NAVEGACIÓN MOVIL   */
  
  div.navbar3 {
	
	width: 100%;
	  text-align: left;
	  margin-left:auto;
	  margin-right:auto;
	padding: 0px;
	position: fixed;
	z-index: 9;
	
	
	
  }
  
  div.navbar3 > ul {
	list-style-type: none;
	
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: transparent;
	
	
  }