/* ESTRUCTURA GENERAL */

body { 
	background-color: #ffffff;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 1.25;
	margin: 0;
}

h1, h2 { 
     text-align: center;
     font-weight: 500;
}

h1.article {
	text-align: center;
    font-weight: 500;
	color:#000000;
	
}

h3 { 
     font-weight: 500;
}


a {
        color: #081bcc;
		text-decoration:none;
}



summary:hover {
	color: #081bcc;
	cursor: pointer;
}

pre {
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  white-space: pre;
  margin: 1%;
  background-color: #ECEACA;
  padding: 1%;
  overflow-x:scroll;
} 

blockquote {
    border-left: 5px solid #818183;
    padding: 5px 0 5px 15px;
    background-color: #f5f5f5;
    margin-inline-start: 10px;
}

div.about {
	max-width: 750px;
	text-align: center;
	margin-left:auto;
	margin-right:auto;
    padding: 0% 5% 5px 5%;
}


div.cabecera {
    width: 100%;
    text-align: left;
    color: rgb(0 0 0 / 90%);
    background-position: center;
    background-size: cover;
    background-clip: content-box;
    background-color: white;
    background-repeat: no-repeat;
    
    z-index: 100;
    top: 0;
	padding-top: 3%;
	padding-bottom: 3%;
}


/* div.cabecera {
    max-width: 100%;
    text-align: left;
    color: rgb(0 0 0 / 90%);
    margin-left: auto;
    margin-right: auto;
    background-image: url("https://lh3.googleusercontent.com/pw/AMWts8AAQNxi5oUXLOKgMP7ilPyyzkT2_S8zJI6zqqgwGA7ZxA-Gzkaysw5s7ZIHilwj5SHLZL6zWCD-ykJfZIhjPQPcHOLH45liP9ha1gG1UV6h6XEOjhgUG3u4Ff1A3ULQNV5FFp3JbETy4emUyM5h8SnG=w931-h839-no?authuser=1");
    background-position: center;
    background-size: cover;
    background-clip: content-box;
    background-color: white;
    background-repeat: no-repeat;
} */

/* div.cabecera2 {
	background-image: linear-gradient(0deg, white 15%, #0000008f 80%);
} */


div.cuerpo {
	max-width: 900px;
	text-align: left;
	margin-left:auto;
	margin-right:auto;
	padding: 15px 2% 2% 2%;
}

div.cuerpo > img{
	display: block;
 	max-width: 100%;
	height: auto;
 	margin-left: auto;
 	margin-right: auto;	
}



div.centro {
        text-align: center;
}




/* TABLAS */

table {
    width:100%; 
	border: 2px solid black;
   	border-collapse:collapse;
}
th, td {
	border: 1px solid black;
  	width: 50%;
	text-align:left;
	vertical-align: top;
	padding: 1%;
}


div.mifoto {
	text-align: center;
	padding-top: 10px;
  
}

div.mifoto > img {
	border-radius: 100px;
	height: 200px;
	width: 200px;
}

div.logo {
	text-align: center;
  
}

div.logo > img {
	border-radius: 100px;
	
}


img {
    border-radius: 5px;
}

/* OTROS */
div.indice {
	max-width: 1024px;
	box-align: center;
	text-align: left;
	line-height: 25px;
    margin-left:-10px;	
}



div.par {
	text-align: center;
	padding: 1%;
	margin-left:20px;
	margin-right:20px;
}

/* -------------  NAVEGACIÓN ------------- */
/* MOBILE MENU    */

.overlay {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 10;
	top: 0;
	left: 0;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0, 0.9);
	overflow-x: hidden;
	transition: 0.5s;
  }
  
  .overlay-content {
	position: relative;
	top: 25%;
	width: 100%;
	text-align: center;
	margin-top: 30px;
  }
  
  .overlay a {
	padding: 8px;
	text-decoration: none;
	font-size: 36px;
	color: #818181;
	display: block;
	transition: 0.3s;
	box-sizing: unset;
  }
  
  .overlay a:hover, .overlay a:focus, a.active2 {
	color: #ffffff;
  }
  
  .overlay .closebtn {
	position: absolute;
	top: 20px;
	right: 45px;
	font-size: 60px;
  }

  
  
  @media screen and (max-height: 450px) {
	.overlay a {font-size: 20px}
	.overlay .closebtn {
	font-size: 40px;
	top: 15px;
	right: 35px;
	}
  }


  /* BARRA NAVEGACION PC */

  div.navbar {
    max-width: 100%;
    text-align: center;
    margin-left: 5px;
    margin-right: auto;
    padding-bottom: 10px;
    padding-top: 5px;
	display: flex;
    justify-content: center;
    align-items: center;
}
  
  .navbar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	
  }
  
  .navbar li {
	float: left;
	padding-right: 5px;
	
  }
  
  .navbar a {
	display: block;
	text-align: center;
	padding: 8px 8px;
	text-decoration:none;
	border-radius: 5px;
	color:rgb(0, 0, 0);
	box-sizing: unset;
  }


  
  li a:hover:not(.active) {
	color: white;
	background-color: rgb(32, 32, 32);
	
  }
  
  .active {
    background-color: #117701;
    color: #ffffff !important;
    font-size: larger;
}
  
  
  @media only screen and (max-width: 600px) {
	div.navbar {
	  display: none;
	}
  }
  
  
  
  div.spacer {
	width: 100%;
	height: 40px;
  
  }
  
  
  
  div.navbar2 {
    position: absolute;
    top: 5px;
    right: 10px;
    z-index: 10;
}
  
  .container {
	width: 100%;
	display: block;
	cursor: pointer;
	
  }
  
  .bar1, .bar2, .bar3 {
	width: 35px;
    height: 4px;
    background-color: rgb(255, 255, 255);
    margin: 6px 0;
  }
  
  
  @media only screen and (min-width: 600px) {
	div.navbar2 {
	  display: none;
	}
  
	div.navbar3 {
	  display: none;
	  
	}
  
	div.spacer {
	  display: none;
	  
	}
	
  
  }
  
  
  /* BARRA NAVEGACIÓN MOVIL   */
  
  div.navbar3 {
    width: 100%;
    color: white;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    font-size: 24px;
    padding-top: 7px;
    z-index: 9;
}
  
  div.navbar3 > ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: transparent;
	
	
  }

  div.navbar3 > li {
	color:rgb(0, 0, 0);
	font-size: larger;
	
	
  }


