* {
	box-sizing: border-box;
}

body {
	background-color: #ffffff;
	font-family: apple-system, "system-ui", Segoe UI, roboto, helvetica, arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
	line-height: 1.25;
	margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	text-align: center;
	font-weight: 500;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

h1 {
	font-size: clamp(1.6rem, 5vw, 2.2rem);
}

h2 {
	font-size: clamp(1.8rem, 6vw, 2.6rem);
}



.top-bar {
	width: 100%;
	background-color: #333;
	color: #fff;
	overflow: hidden;
	position: fixed;
	z-index: 100;
	height: clamp(55px, 7vh, 80px);
	display: flex;
	justify-content: space-between;
	/* Espaciado entre elementos */
	align-items: center;
}

.top-bar .left {
	padding: 15px;
}

.top-bar .left h1 {
	margin: 0;
}

.top-bar .right {
	display: flex;
	align-items: center;
	padding: 15px;
}

.top-bar .right a {
	color: #fff;
	text-decoration: none;
	margin-left: 15px;
}

.top-bar .right img {
	height: clamp(20px, 3vh, 35px);
}




#map {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	filter: blur(2px);
}

div.emojis {
	font-size: clamp(2.5rem, 5vw, 3.5rem);
}



.button {
	margin: 10px;
	padding: 15px;
	text-align: center;
	background-color: #126087;
	border-radius: 5px;
	width: 220px;
	max-width: 100%;
	border-color: #afafaf;
	border-width: 2px;
}







.button:hover {
	background-color: #006e09;
}






/* ------------------------------------------------------------------------------------secciones */


div.mifoto {
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: center;
	align-content: center;
	justify-content: center;
}

div.mifoto-text {
	text-align: justify;

	max-width: 80vh;
}


div.mifoto>img {
	border-radius: 50% 50% 50% 0%;
	width: clamp(180px, 55%, 320px);
	aspect-ratio: 1;
	object-fit: cover;
	margin: 30px;
}

@media screen and (max-width: 500px) {
	div.mifoto-text {
		max-width: 500px;
		text-align: justify;
		font-size: 18px;
	}
}

div.general {
	display: flex;
	flex-direction: column;
	top: clamp(55px, 7vh, 80px);
	position: absolute;
	width: 100%;
}



.page {
	width: 100%;
	height: 100%;
	color: #ffffff;
	/* background-image: linear-gradient(181deg, #ffffff, transparent, transparent); */
	overflow: hidden;
	z-index: 90;
	display: flex;
	text-align: center;
	align-content: flex-start;
	flex-wrap: nowrap;
	flex-direction: column;
	align-items: center;
	gap: 30px;
	padding: 30px 20px 80px 20px;
	justify-content: center;
}



.page-box {
	background-color: #ffffff;
	border-radius: 5px;
	color: rgb(0 0 0);
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 600px;
	padding: 20px;
	justify-content: space-around;
	align-items: center;
	overflow: hidden;
	border-style: solid;
	border-color: #818181;
	border-width: 2px;
}

.page-box>a {
	text-decoration: none;
	color: white;
}

a {
	color: #0500bf;
	text-decoration: underline;
}