/* Style the tab */
.tab {
  overflow: hidden;
  padding-top: 80px;
  float: left;
  width: 300px;
  display: flex;
  flex-wrap: nowrap;
  background-color: #dbdbdb;
  justify-content: center;
  align-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  position: sticky;
}
  
  /* Style the buttons inside the tab */
  .tab button {
    background-color: inherit;
    color: black;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px;
      margin: 5px;
    transition: 0.3s;
    font-size: 17px;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
       background-color: #6b6b6b;
       box-shadow: 4px 4px 5px #858585;
  }
  
  /* Style the tab content */
  .tabcontent {
    
    float: left;
    border-top: none;
    margin-left: 50px;
    margin-top: 120px;
    margin-bottom: 50px;
  }

  .tabcontent a {
    color:#000000
  }
  
  @media screen and (max-width: 800px) {
    .tab {
    overflow: hidden;
    
    float: left;
    display: flex;
    flex-wrap: wrap;
    background-color: #dbdbdb;
    justify-content: center;
    flex-direction: row;
    align-items: flex-start;
    position: sticky;
    align-content: center;
    height: auto;
    width: 100%;
      
    }

    .tabcontent {
      float: left;
        border-top: none;
        margin-left: 25px;
        margin-top: 25px;
        margin-bottom: 50px;
    }

  
  }










  /* Style the close button */
  .topright {
    float: right;
    cursor: pointer;
    font-size: 28px;
  }
  
  .topright:hover {color: red;}

  li {
    padding: 5px;
}


